<h3>新規Subject</h3>
<%= form_for @subject do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body, :size => 140 %>
  </div>

  <div class='form-group'>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
          <% end %>
      </div>
  <% end %>
</div>

  <%= f.submit "送信" %>
<% end %>

<%= link_to "subject一覧に戻る", subjects_path %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>

